/*------------------------------------------- CONTACT -------------------------------------------*/
.contact {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.contact-container {
  margin: 0 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  text-align: center;
}

.contact-data {
  flex-basis: 45%;
}

.contact-title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 0.5rem rgba(17, 16, 14, 0.233);
}

.contact-description {
  font-size: var(--medium-font-size);
  font-family: var(--secondary-font);
}

.contact-form {
  flex-basis: 40%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  align-items: center;
}

.contact-form input {
  width: 100%;
  padding: 10px 20px;
  background: none;
  height: 50px;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid var(--color-white);
}

.contact-form input::placeholder {
  color: var(--color-white);
}

.contact-form input:focus {
  outline: none;
  border-bottom-color: var(--color-white);
}

.contact-form button {
  width: 80%;
  padding: 10px 20px;
  background-color: var(--color-white);
  color: black;
  font-size: 22px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 0.3rem;
}

.contact-form button:hover {
  scale: 1.05;
}

/*------------------------------------ RESPONSIVE ---------------------------------------*/

@media (max-width: 430px) {
  .contact-container {
    margin: 0 1rem;
  }
}

@media (min-width: 431px) and (max-width: 1023px) {
  .contact-container {
    margin: 0 2rem;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .contact-container {
    flex-direction: row;
    text-align: initial;
    justify-content: center;
    gap: 3rem;
  }
  .contact-data {
    flex-basis: 50%;
  }
  .contact-form {
    flex-basis: 50%;
  }
}

@media (min-width: 1024px) {
  .contact-container {
    padding: 5rem 3rem;
    flex-direction: row;
    text-align: initial;
    justify-content: center;
    gap: 3rem;
  }
  .contact-data {
    flex-basis: 40%;
  }
  .contact-form {
    flex-basis: 45%;
  }
  .contact-form input {
    width: 80%;
  }
}

@media (min-width: 1220px) {
  .contact-title {
    font-size: 2.6rem;
  }
  .contact-description {
    font-size: 1.5rem;
  }
}
